<% resource.attributes.each do |attribute| %>
	<% if attribute[0].to_s === "image_url" %>
			<img class="image" src="<%= attribute[1].to_s %>" />
	<% else %>
			<div class="<%= attribute[0] %> label"><%= attribute[0].to_s %></div>
			<div class="<%= attribute[0] %> value"><%= attribute[1].to_s %></div>
	<% end %>
<% end %>
